<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>分配权限</title>
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/css/common.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/css/style.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/css/right.css" />
		<link rel="stylesheet" href="__PUBLIC__/plugins/zTree/zTreeStyle/zTreeStyle.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/font/iconfont.css" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	</head>
		<body>
		<div class="wrap">
			<include file="Public/left"/>
			<!--侧边栏代码结束-->
			<div class="right">
				<include file="Public/top"/>
				<div class="right_bot float_left">
					<!--页面主体内容开始-->
						<div class="customer_box common">
							<div class="Customer_top">
								<div class="UID">分配权限-{$role_name}</div>
								<div class="handle">
									<span><a id="saveEditBtn" data-id="{$role_id}" data-url="{:U('Right/save')}" href="javascript:;">保存数据</a></span>
								</div>
								<div class="blue_wire"></div>
							</div>
							<div class="template">
								<ul id="treeDemo" class="ztree">
									
								</ul>
							</div>
						</div>
					<!--页面主体内容结束-->
				</div>
			</div>
		</div>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/jquery-1.8.0.min.js"></script>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/common.js"></script>
		<script src="__PUBLIC__/plugins/layui/layui.js" charset="utf-8"></script>
		<script src="__PUBLIC__/plugins/zTree/zTree.js" charset="utf-8"></script>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/right.js"></script>
		<script>
			 $(window).resize(function(){
			var whole=$(document).height();
			var h1=$(".wrap .left .left_top").height();
			var h2=$(".wrap .left .left_bot").height();
			$(".wrap .left .left_bot").css("margin-bottom",whole-h1-h2+"px");
			console.log("whole"+whole);
			var h3=$(".wrap .right .right_top").height();
			var h4=$(".customer_box .Customer_top").height();
			$(".customer_box .Customer_bot").css("height",(whole-h3-h4)/1.3+"px");
		});
		</script>
		<script type="text/javascript">
			//配置
			var setting = {
				check: {
					enable: true,
					chkStyle: "checkbox",
					chkboxType:{ "Y" : "ps", "N" : "ps" }
				},
				data: {
					simpleData: {
						enable: true,
						idKey: "id",
						pIdKey: "pid",
					}
				},
				callback: {
					beforeClick: function (treeId, treeNode) {
						if (treeNode.isParent) {
							zTree.expandNode(treeNode);
							return false;
						} else {
							return true;
						}
					},
					onClick:function(event, treeId, treeNode){
						//栏目ID
						var id = treeNode.id;
						alert(id);
					}
				},
				view:{
					showIcon:false
				}
			};
			//节点数据
			var zNodes ={$nodes};
			//zTree对象
			var zTree = null;
			$(function(){
				$.fn.zTree.init($("#treeDemo"), setting, zNodes);
				zTree = $.fn.zTree.getZTreeObj("treeDemo");
				zTree.expandAll(true);
			});
		</script>
	</body>
</html>
