<!--主体第一层（重要通知）-->
<div class="content_Af">
    <div class="box1">
        <div class="conAf_left">
            <div class="ico3"></div>
            <a href="{:U('Message/mlist')}">
                <p>{$Think.lang._PUBLIC_IMPORTANT_NOTICE_}</p><span style="color:#ff0000;vertical-align: middle;">({$msgCount|default=0})</span>
            </a>
        </div>
        <div class="conAf_right">
            <div>
                <a href="?hl=zh-cn">{$Think.lang._PUBLIC_CHINESE_}</a>
                <a href="?hl=en-us">{$Think.lang._PUBLIC_ENGLISH_}</a>
            </div>
        </div>
    </div>
</div>