<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{$Think.lang._PUBLIC_INFORMATION_REGISTER_}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="{$Think.const.HOME_RESOURCE}/less/style.css" />
		<script src="{$Think.const.HOME_RESOURCE}/js/jquery-1.8.0.min.js"></script>
		<script src="__PUBLIC__/plugins/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript">
		var url="{:U('Register/company')}";
		</script>
		<script src="{$Think.const.HOME_RESOURCE}/js/company.js"></script>
	</head>
	<body class="password">
		<div class="login_box">
			<div class="left">
				<div class="word">
					<div class="text_box">
						<h3>Tonetron</h3>
						<h5>ORDER SYSTEM</h5>
					</div>
					<div class="copyright">
						©Copyright 2017 Tonetron Electronic LTD.,
					</div>
				</div>
			</div>
			<div class="center">
				<div class="ico_sanjiao"></div>
			</div>
			<div class="right">
				<div class="Info_Registration">
					<h1>{$Think.lang._PUBLIC_INFORMATION_REGISTER_} <span>2/4</span></h1>
					<ul>
						<li>
							<input type="text" id="company_name" placeholder="{$Think.lang._PUBLIC_COMPANY_NAME_}"/>
						</li>
						<li>
							<select id="belong_country">
							<option value="{$Think.lang._PUBLIC_COUNTRY_}">{$Think.lang._PUBLIC_COUNTRY_}</option>
							<eq name="langFlag" value="2">
							<foreach name="country_info" item="ci">
							<option value="{$ci.country_name2}">{$ci.country_name2}</option>
							</foreach>
							<else/>
							<foreach name="country_info" item="ci">
							<option value="{$ci.country_name}">{$ci.country_name}</option>
							</foreach>
							</eq>
							</select>
						</li>
						<li>
							<input id="contacts" type="text" placeholder="{$Think.lang._PUBLIC_CONTACT_NAME_}"/>
						</li>
						<li>
							<input id="phone" type="text" placeholder="{$Think.lang._PUBLIC_CONTACT_PHONE_}"/>
						</li>
						<li>
							<input id="website" type="text" placeholder="{$Think.lang._PUBLIC_COMPANY_WEBSITE_}"/>
						</li>
						<li>
							<div style="display: inline-block;margin-right: 10px;"><input data-selected="no" id="cbx" type="checkbox" /></div><span>{$Think.lang._PUBLIC_I_AGREE_}<a style="padding-left:2px;padding-right:2px" id="tip_1">{$Think.lang._PUBLIC_ORDER_SYSTER_}</a>{$Think.lang._PUBLIC_AND_}<a style="padding-right: 2px;" id="tip_2">{$Think.lang._PUBLIC_MARKING_}</a>{$Think.lang._PUBLIC_POLICY_}</span>
						</li>
						<li>
							<a class="comBtn invalid" id="comBtn" data-qualified="no" href="javascript:;">{$Think.lang._PUBLIC_SUBMIT_}</a>
						</li>
					</ul>
					<input type="hidden" id="key" value="{$key2}"/>
					<!--弹框1-->
					<div class="popup tanchu1" style="display:none;">
						<h1>{$Think.lang._PUBLIC_ORDER_SYSTER_}</h1>
						<eq name="langFlag" value="2">
						<div class="wenben">{$rule_order.config_value2}</div>
						<else/>
						<div class="wenben">{$rule_order.config_value}</div>
						</eq>
						<button id="sure_1">{$Think.lang._PUBLIC_CONFIRM_}</button>
					</div>
					<!--弹框2-->
					<div class="popup tanchu2" style="display:none;">
						<h1>{$Think.lang._PUBLIC_MARKING_}</h1>						
						<eq name="langFlag" value="2">
						<div class="wenben">{$rule_people.config_value2}</div>
						<else/>
						<div class="wenben">{$rule_people.config_value}</div>
						</eq>
						<button  id="sure_2">{$Think.lang._PUBLIC_CONFIRM_}</button>
					</div>
					
				</div>
			</div>
		</div>
	</body>
	<style type="text/css">
	.invalid{
		background-color:#dfdfdf !important;
	}
	</style>
	<script>
		$(function () {
			$("#tip_1").click(function(){
			   $(".tanchu1").css("display","block");
			   $(".tanchu2").css("display","none");
			});
			$("#sure_1").click(function(){
			   $(".tanchu1").css("display","none");
			});
			$("#tip_2").click(function(){
			   $(".tanchu2").css("display","block");
			   $(".tanchu1").css("display","none");
			});
			$("#sure_2").click(function(){
			   $(".tanchu2").css("display","none");
			});
		})
	</script>
</html>
