<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加等级</title>
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/css/common.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/css/style.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/less/style.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/font/iconfont.css" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	</head>
		<body>
		<div class="wrap">
			<include file="Public/left"/>
			<!--侧边栏代码结束-->
			<div class="right">
				<include file="Public/top"/>
				<div class="right_bot float_left">
					<!--页面主体内容开始-->
						<div class="customer_box common">
							<div class="Customer_top">
								<div class="UID">添加等级</div>
								<div class="handle">
									<span><a id="saveBtn" data-url="{:U('Grade/add')}" href="javascript:;">保存数据</a></span>
								</div>
								<div class="blue_wire"></div>
							</div>
							<div class="template">
								<ul>
									<li>
										<ul>
											<li><span>中文名称</span><textarea id="chineseName" style="margin-left: 3%;text-indent: 2%;width: 66%;"></textarea></li>
										</ul>
									</li>
									<li style="margin-top: 15px;">
										<ul>
											<li><span>英文名称</span><textarea id="englishName" style="margin-left: 3%;text-indent: 2%;width: 66%;"></textarea></li>
										</ul>
									</li>
									<li style="margin-top: 15px;">
										<ul>
											<li><span>折扣</span><textarea id="discount" style="margin-left: 3%;text-indent: 2%;width: 66%;"></textarea></li>
										</ul>
									</li>
									<li style="margin-top: 15px;">
										<ul>
											<li><span>折扣开始时间</span><input autocomplete="off" id="start"/></li>
										</ul>
									</li>
									<li style="margin-top: 15px;">
										<ul>
											<li><span>折扣结束时间</span><input autocomplete="off" id="end"/></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					<!--页面主体内容结束-->
				</div>
			</div>
		</div>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/jquery-1.8.0.min.js"></script>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/common.js"></script>
		<script src="__PUBLIC__/plugins/layui/layui.js" charset="utf-8"></script>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/grade.js"></script>
		<script src="__PUBLIC__/plugins/laydate/laydate.js"></script>
		<script type="text/javascript">
			laydate.skin('default');
			var start = {
				elem: '#start',
				format: 'YYYY-MM-DD',
				min: '1970-08-00',
				max: '2036-06-16', //最大日期
				istime: true,
				istoday: false,
				choose: function(datas){
					end.min = datas;
					end.start = datas;
//					where=wrapCondition();
//					dataDeal(url,where);
				},
				order:function(){
//					where=wrapCondition();
//					dataDeal(url,where);
				}
			};
			var end = {
				elem: '#end',
				format: 'YYYY-MM-DD',
				min: '1970-08-00',
				max: '2036-06-16',
				istime: true,
				istoday: false,
				choose: function(datas){
					start.max = datas;
//					where=wrapCondition();
//					dataDeal(url,where);
				},
				order:function(){
//					where=wrapCondition();
//					dataDeal(url,where);
				}
			};
			laydate(start);
			laydate(end);
		</script>
		<script>
			 $(window).resize(function(){
			var whole=$(document).height();
			var h1=$(".wrap .left .left_top").height();
			var h2=$(".wrap .left .left_bot").height();
			$(".wrap .left .left_bot").css("margin-bottom",whole-h1-h2+"px");
			console.log("whole"+whole);
			var h3=$(".wrap .right .right_top").height();
			var h4=$(".customer_box .Customer_top").height();
			$(".customer_box .Customer_bot").css("height",(whole-h3-h4)/1.3+"px");
		});
		</script>
	</body>
</html>
