<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>等级列表</title>
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/css/common.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/css/style.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/less/style.css" />
		<link rel="stylesheet" href="{$Think.const.ADMIN_RESOURCE}/font/iconfont.css" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	</head>
	<body>
		<div class="wrap">
			<include file="Public/left"/>
			<!--侧边栏代码结束-->
			<div class="right">
				<include file="Public/top"/>
				<div class="right_bot float_left">
					<!--页面主体内容开始-->
					<div class="customer_box Customers">
						<div class="customer_box">
							<div class="Customer_top">
								<div class="UID">等级列表</div>
								<div class="handle">
									<span><a href="{:U('Grade/add')}">添加</a></span>
								</div>
								<div class="blue_wire"></div>
							</div>
						</div>
						<div class="bot">
							<div class="table">
								<ul>
									<li style="width:5%;">编号</li>
									<li style="width:40%;">中文名称</li>
									<li style="width:40%;">英文名称</li>
									<li style="width:40%;">折扣(折扣输入3%就打97折)</li>
									<li style="width:40%;">折扣开始时间</li>
									<li style="width:40%;">折扣结束时间</li>
									<li style="width:15%;">操作</li>
								</ul>
								<foreach name="grade_info" item="gi">
								<ul>
									<li style="width:5%;">{$gi.grade_id}</li>
									<li style="width:40%;">{$gi.gr_chinese_name}</li>
									<li style="width:40%;">{$gi.gr_english_name}</li>
									<li style="width:40%;">{$gi.gr_discount}</li>
									<li style="width:40%;">{$gi.gr_time}</li>
									<li style="width:40%;">{$gi.gr_endtime}</li>
									<li style="width:15%;"><a class="border_right" href="{:U('Grade/edit',array('id'=>$gi['grade_id']))}">修改</a>&nbsp;&nbsp;<a data-url="{:U('Grade/del',array('id'=>$gi['grade_id']))}" class="delGradeBtn" data-key="{:md5($gi['grade_id'])}" href="javascript:;">删除</a></li></a>
								</ul>
								</foreach>
							</div>
						</div>
					</div>
					<!--页面主体内容结束-->
				</div>
			</div>
		</div>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/jquery-1.8.0.min.js"></script>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/common.js"></script>
		<script src="__PUBLIC__/plugins/layui/layui.js" charset="utf-8"></script>
		<script src="{$Think.const.ADMIN_RESOURCE}/js/grade.js"></script>
	</body>
</html>
